header
{
    position:fixed;
    width:100%;
    z-index: 120;
    top: 0;
    height:200px;
}

#first
{
   /* background-color:rgb(81, 110, 94); */
   background-color: black;
    height:50px;
    display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   
}

.second
{
    /* background-color:rgb(228, 145, 29); */
    background-color: white;
}

.color
{
    color:white;
}

.color1
{
    color:rgb(228, 145, 29);
   /* font-weight:bold; */
   font-family:Helvetica;
}
.f1
{
    padding-top:13px;
    padding-bottom:10px;
    padding-left:50px;
    cursor: pointer;
}
.f-font
{
    font-size:15px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
}


 #f-font1
{
    font-size:15px;
} 
#first-d1
{
    
    padding-top:10px;
    padding-bottom:10px;
    padding-left:550px;
}


.f3
{
    
    padding-bottom:10px;
    padding-left:20px;
    cursor: pointer;
}

.first-d
{
    padding-left:60px;
}
.second img
{
    padding-left:50px;
    padding-right:50px;
}

nav .navbar-nav li a{
    color: white !important;
    font-size:20px;
    }

.box
{
/* background-color:rgb(81, 110, 94); */
background-color:black;
border: 1px solid black;
border-radius: 15px;
cursor: pointer;
color:white;
}

#carouselExampleIndicators
{
    padding-top:155px;
}
.carousel-item img
{
    width:4804px;
    height:450px;
}

.carousel-caption
{
    /* bottom:270px; */
    top:50%;
    transform:translateY(-50%);
    bottom:initial !important;
    background:rgba(0,0,0,0.4);
    max-width:600px;
    position:absolute !important;
    display:block;
    margin-left: auto;
    margin-right:auto;

}
#third
{
    margin:40px;
    text-align:center;
}
#third p
{
    font-family:Verdana;
    font-size:17px;
    color:#D5082D ;
    padding-top:20px;
    text-align:centre;

}
#fourth
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding:40px 80px;
    
}

.card
{
    background-color: black;
    color:white;
    margin-right:80px;
    margin-left:70px;
}
.card h3
{
    color:#D5082D ;
}

footer
{
    background-color: black;
    color:white;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    
}

.footer-d
{
    background-color: rgb(228, 145, 29);
}



.footer-d1
{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    padding:50px 100px;
}



hr {
    display: block;
    height: 1px;
    width:100%;
    border: 0;
    border-top: 1px solid #D5082D; 
    /* margin: 1em 0; */
    margin: 0.5em 0;
    padding: 0;
}

#comments
{
    margin-bottom:100px;
    margin-left:10px;
    margin-right:10px;
    /* background-color:rgb(228, 145, 29); */
}

.form-row
{
    padding:20px;
}

.color-b
{
    background-color: black !important;
}


#reviews
{
    margin:40px;
    text-align:center;
}
@media only screen and (max-width: 600px) {
  #first
  {
      height:150px;
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
  }
  #first-d1
  {
    
    padding-left:80px;
   
  }
 
  .carousel-item img
  {
    width:4804px;
    height:200px;
  }

  .second img
  {
       padding-left:80px;
      /*padding-right:50px; */
  }
 
  .c h3
  {
      font-size:13px;

  }
  
  .carousel-caption
{
    /* bottom:270px; */
    top:30%;
    transform:translateY(-50%);
    bottom:initial !important;
    background:rgba(0,0,0,0.4);
    max-width:600px;
    position:absolute !important;
    display:block;
    margin-left: auto;
    margin-right:auto;

}

.first-d
{
    padding-left:0px;
 
}

.f1
{
    padding-left:15px;
   
}
.f-font
{
    padding-left:0px;
}

.second img
{
    width:270px;
}
#third p
{
    text-align: justify;
}

#fourth
{
    padding:0;
}
.card{
    margin-left:10px;
    margin-right:10px;
    margin-bottom:30px;
}


 .footer-d1
 {
     padding:20px 100px;
 }

 .form-control
{
    width:100% !important;
}
}


@media only screen and (max-width: 1277px){
   


#fourth
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding:40px 40px;
    
}
}

@media only screen and (max-width: 1200px){
   


    #fourth
    {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        padding:30px 10px;
        
    }
    .card{
        margin-left:7px;
        margin-right:7px;
        margin-bottom:30px;
    }
    }

    @media only screen and (max-width: 1350px){

        #first-d1
        {
            padding-left: 30px;
        }
        }

      
@media only screen and (max-width: 900px){

        #fourth
        {
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            padding:30px 10px;
            
        }
        .card{
            margin-left:5px;
            margin-right:5px;
            margin-bottom:30px;
        }
    }
      
 @media only screen and (max-width: 827px){

    #first
    {
        height:100px;
    }
    #first-d1
    {
        padding-left:80px;
    }
 
      }

